@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "headerStyle";

/*VARS*/
$color:orangered;
$defaultFont:'Montserrat';
$backgoundImg:'../img/wall3.jpg';

$fuentes: (fuente1:'Bebas Neue',fuente2:'Montserrat Regular', fuente3:'Montserrat ExtraBold', fuente4:'Anton');

@mixin colorAndFont($fontColor,$fontFamily){
    color:$fontColor;
    font-family:$fontFamily
}

body{
    background-image: url($backgoundImg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul{
    @include colorAndFont($color,map-get($fuentes, fuente1));
    display:inline;
    font-weight:bold;
    font-size:30px;
}

li{
    display:inline;
    padding-left:20px;
    padding-right:20px;
}

.productTitle{
    @include colorAndFont(aliceblue,$defaultFont);
    font-weight:bold;
}

.pro-img-details {
    margin-left: -15px;
}

.navbar-light {
    background-color: black !important;
}

nav .navbar-nav li a{
    color: $color !important;
    }

p{
    @include colorAndFont(aliceblue,map-get($fuentes, fuente2))
}

.top-buffer {
     margin-top:30px;
}

.streched{
    width:75%;
}


img {
    width:100%;
    max-width: 100%;
}

.productImg{
    width:75%;
}

a{
    text-decoration:none;
    color:$color
}

.properties{
    color:aliceblue;
    font-family:$defaultFont;
}

h1{
    @extend .properties
}

h2{
    @extend .properties
}

h5{
    @include colorAndFont($color,map-get($fuentes, fuente3));
}
.titleStyle{
    @extend .properties
}

.questionStyle{
    @include colorAndFont(aliceblue,$defaultFont );
    padding-left:580px;
}

h3{
    @include colorAndFont(aliceblue,map-get($fuentes, fuente2))
}

h4{
    @include colorAndFont($color,map-get($fuentes, fuente4))
}

.transition {
    transition: transform .2s;;
}
.transition:hover{
    transform:scale(1.1);
}

.dropdown-item{
    background-color: black;
}

.dropdown-menu{
    background-color: black;
}


.feedback-input {
    @include colorAndFont($color, $defaultFont);
    font-weight:bold;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid $color;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus {
     border:2px solid #CC4949;
    
    }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    @include colorAndFont(white,$defaultFont);
    width: 100%;
    background:$color;
    border-radius:5px;
    border:0;
    cursor:pointer;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }

  .custom-button{
    background:orangered;
  }


/*------ mobile ------*/
@media screen and (max-width:768px){
    
h4{
    @include colorAndFont($color,map-get($fuentes, fuente4))
}

ul{
    @include colorAndFont($color, map-get($fuentes, fuente1));
    display:table-cell;
    vertical-align: middle;
    font-weight:bold;
    font-size:30px;
}

header {
    display: table-cell; 
    vertical-align: middle;
    padding-left: 20px;
}
}